<ion-header>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-button routerLink="/tabs/tab2">
          <ion-icon color="dark" slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
         <ion-item lines="full">
              <ion-label position="fixed">Empressa: 
               </ion-label>
               <ion-input></ion-input>
          </ion-item>
          <ion-item  lines="none">
              <ion-label  text-wrap>
                  <h3>Forma de confirmar fichado:</h3> 
               </ion-label>
          </ion-item>
         
          <ion-item lines="full">
              <ion-label >Desplazado 
               </ion-label>
               <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item lines="full">
              <ion-label >Compañero
               </ion-label>
               <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item lines="full">
              <ion-label >GeoValla 
               </ion-label>
               <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
  <ion-button color="light" expand="block">Guardar</ion-button>

</ion-content>
