<ion-header>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-button routerLink="/tabs/tab2">
          <ion-icon color="dark" slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
         <ion-item lines="full">
              <ion-label position="fixed">Empressa: 
               </ion-label>
               <ion-input ([ngModel])="myGrpName"></ion-input>
          </ion-item>
          <ion-item  lines="none">
              <ion-label  text-wrap>
                  <h3>Forma de confirmar fichado:</h3> 
               </ion-label>
          </ion-item>
          <ion-radio-group>
            <ion-item lines="full">
                  <ion-label >Desplazado 
                   </ion-label>
                   <ion-radio value="A" ([ngModel])="myGrpCheck" (ionSelect)="setMygrpChek('A')"></ion-radio>
              </ion-item>
              <ion-item lines="full">
                  <ion-label >Compañero
                   </ion-label>
                   <ion-radio value="C" ([ngModel])="myGrpCheck" (ionSelect)="setMygrpChek('C')"></ion-radio>
              </ion-item>
              <ion-item lines="full">
                  <ion-label >GeoValla 
                   </ion-label>
                   <ion-radio value="G" ([ngModel])="myGrpCheck" (ionSelect)="setMygrpChek('G')"></ion-radio>
              </ion-item>
          </ion-radio-group>
          <div class="row">
              <div class="center">
                <ion-button color="dark"  *ngIf="myGrpCheck=='G'" (click)="config.setGeoValla()">Zona para fichar: AQUI</ion-button>
              </div>
            </div>
         
  <ion-button color="light" expand="block" (click)="config.addGrpInfo(myGrpName,myGrpCheck)">Guardar</ion-button>

</ion-content>
