<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    &nbsp;
    <h2 id="1-heading0" style="color:#FFFFFF;text-align:center;">SignClock</h2>
    <h1 id="1-heading1" style="color:#FFFFFF;text-align:center;">{{clockday}}</h1>


    <ion-button id="misDatos-savephone" expand="block" color="light" (click)="goToLists()"  *ngIf=" (config.loadData.myTip == 'A')">Cambio de grupo</ion-button>
    
    <h2 id="1-heading39" style="color:#FFFFFF;text-align:center;" >{{clock}}</h2>
    
     <div id="start-boton-fichar" class="padding" *ngIf="config.loadData.myTip == 'U'" >
      <img src="/assets/images/botonSC.png" class="line-img-center"  style="width:14em; height:14em" alt="" (click)="lanzarF()"  *ngIf="config.loadData.myGrpId">
    </div>
    <div id="start-boton-fichar" class="padding" *ngIf="config.loadData.myTip == 'A'" >
        <img src="/assets/images/botonSC.png" class="line-img-center"  style="width:14em; height:14em" alt="" (click)="goToLists()"  *ngIf="config.loadData.myGrpId">
      </div>

      <h1 id="1-heading2" style="text-align:center; color:#FFF">{{config.loadData.myGrpName}}</h1>
      <h4 id="1-heading3" style="color:#FFFFFF;text-align:center;" *ngIf="config.loadData.myGrpId && config.loadData.myTip == 'U'">{{estado_F}}</h4>
    <!--  <div id="start-grp-list" *ngIf="!config.loadData.myGrpId">
      
           <ion-list id="start-list">
            <ion-item><h2 id="heading-grupos_admin" style="text-align:center;">Grupo</h2></ion-item>
            <ion-item ng-repeat="g in grupos_admin" style="text-align:center;">
              {{g.nombre}}
            </ion-item>
          </ion-list>
        </div> -->

     <!--
    <div id="start-boton-fichar" class="padding" *ngIf="config.loadData.myTip == 'A'" >
      <img src="/assets/imgages/botonSC.png" class="line-img-center"  style="width:14em; height:14em" alt="" >
    </div>
    
    <h1 id="1-heading2" style="text-align:center; color:#FFF">{{config.loadData.myGrpName}}</h1>
    <h4 id="1-heading3" style="color:#FFFFFF;text-align:center;" *ngIf="config.loadData.myGrpId && config.loadData.myTip == 'U'">estado_F</h4>
    
   <div id="start-grp-list" ng-hide="myInfo.myGrpId">
      
      <ion-list id="start-list">
        <ion-item><h2 id="heading-grupos_admin" style="text-align:center;">Grupo</h2></ion-item>
        <ion-item ng-repeat="g in grupos_admin" style="text-align:center;">
          {{g.nombre}}
        </ion-item>
      </ion-list>
    </div> -->

    <ion-button color="light"  expand="block" (click)="showInci()" >Incidencias 
      <ion-badge color="light-shade">incidencias</ion-badge>
    </ion-button>

</ion-content>
