<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      Terminar la jornada
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-label color="primary" text-center>
    <h2>Ha finalizado tu jornada<ion-icon name="bicycle"></ion-icon></h2>
  </ion-label>
  &nbsp; &nbsp;
    <div id="start-boton-inci" class="padding">
      <ion-button  color="primary" expand="block"  routerLink="/tabs/incidencias1">
        <ion-icon slot="left" name="help"></ion-icon>
        Incidencia</ion-button>
    </div>
    &nbsp;
    <div id="start-boton-conforme" class="padding">
      <ion-button expand="block"  routerLink="/tabs/registros">
          <ion-icon slot="left" name="log-out"></ion-icon>
        Conforme</button>
    </div>
    &nbsp;
    <div id="start-boton-volver" class="padding">
 <ion-button expand="block"  routerLink="/tabs/start">
  <ion-icon slot="left" name="clock"></ion-icon>
  Iniciar jornada</ion-button>
    </div>
</ion-content>
