<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-label text-center>
   <h3>Administrar estos grupos:</h3>
 </ion-label>
      <ion-item *ngFor="let alist of grpAList" lines="full" (click)="gotoGrpCont(alist.myGrpId, alist.myGrpName, alist.myGrpAdminId)">
          <ion-label >{{alist.myGrpName}}
           </ion-label>    
      </ion-item>
      <!-- <ion-item lines="full">
          <ion-label >HOTEL 
           </ion-label>
           <ion-checkbox slot="end"></ion-checkbox>
      </ion-item> -->
      <ion-label text-center>
      <h3>Empresas</h3>
    </ion-label>
         <ion-item *ngFor="let uList of grpUList" lines="full" (click)="gotoGrpCont(uList.myGrpId, uList.myGrpName, uList.myGrpAdminId)">
             <ion-label >{{uList.myGrpName}}
              </ion-label>     
         </ion-item>
         <!-- <ion-item lines="full">
             <ion-label >La definitiva 
              </ion-label>
              <ion-checkbox slot="end"></ion-checkbox>
         </ion-item> -->
 
</ion-content>
<ion-footer no-padding class="footer" mode="ios">
  <ion-grid color="primary">
    <ion-row>
      <ion-col size="4"><ion-button expand="full" size="default" color="light" routerLink="/tabs/configure-hotel">
        <ion-label color="primary" text-wrap ><span class="mediumfont">Configurar Hotel</span></ion-label>
        </ion-button></ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="4"><ion-button size="default" color="light" routerLink="/tabs/grp-new">
          <ion-label color="primary" text-wrap><span class="mediumfont">Nueva empresa</span></ion-label>
        </ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
