
ion-content{
    --background: url(/assets/images/fondo_blanco.png);
    --background-repeat: no-repeat;
    --background-size: cover;  
    padding-inline-start: 5%
}

.footer{
    background:#B01A24;

}
.mediumfont{
    font-size: 80%;
}