<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
          <ion-button routerLink="/tabs/tab2">
            <ion-icon color="dark" slot="icon-only" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Nueva empresa</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-item class="transparentbackground">
      <ion-label color="light"  text-center text-wrap>
          <h1>Alta de nueva empresa</h1> 
       </ion-label>
  </ion-item>
   <ion-item lines="full">
              <ion-label text-wrap >Nombre de la empresa 
               </ion-label>
               <ion-input ([ngModel])="myGrpName"></ion-input>
          </ion-item>
          <ion-item  class="transparentbackground">
              <ion-label color="light" text-wrap>
                  <h4>Forma de confirmar fichado:</h4> 
               </ion-label>
          </ion-item>
          
          <ion-radio-group>
              <ion-item lines="full">
                    <ion-label >Desplazado 
                     </ion-label>
                     <ion-radio value="A" ([ngModel])="myGrpCheck" (ionSelect)="setMygrpChek('A')"></ion-radio>
                </ion-item>
                <ion-item lines="full">
                    <ion-label >Compañero
                     </ion-label>
                     <ion-radio value="C" ([ngModel])="myGrpCheck" (ionSelect)="setMygrpChek('C')"></ion-radio>
                </ion-item>
                <ion-item lines="full">
                    <ion-label >GeoValla 
                     </ion-label>
                     <ion-radio value="G" ([ngModel])="myGrpCheck" (ionSelect)="setMygrpChek('G')"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <div class="row">
                <div class="center">
                  <ion-button color="light"  *ngIf="myGrpCheck=='G'" (click)="config.setGeoValla()">Zona para fichar: AQUI</ion-button>
                </div>
              </div>
          <ion-button color="light" expand="block" (click)="config.addGrpInfo(myGrpName,myGrpCheck)">Guardar</ion-button>

</ion-content>
